*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sansation", sans-serif;
    background: var(--bg-body);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}